In [1]:
import pandas as pd
import numpy as np
import statistics

## BEBRASK DATASET COUNT

In [2]:
BEBRASK_tasks = pd.read_excel('../Datasets/BEBRASK_task.xlsx')
BEBRASK_tasks = BEBRASK_tasks[["DataFile.Basename","Rating0.RESP","Rating.RESP","EvokedEmotion", "Expression", "ScenarioPick","TrialCount","Fulfilled"]].copy()
BEBRASK_tasks.dropna(subset = ["TrialCount"],inplace=True)
subjects_id = BEBRASK_tasks["DataFile.Basename"].unique()

#Eleccion de las variables relevantes para el clustering, y eliminación de las filas que no corresponden a trials.

In [3]:
BEBRASK_tasks_long= BEBRASK_tasks.pivot(index="DataFile.Basename", columns='TrialCount')
BEBRASK_tasks_long.columns = ['_'.join(str(col) for col in cols) for cols in BEBRASK_tasks_long.columns.values]
BEBRASK_tasks_long.head(5)
#Pivotamos el dataset por los trials, de manera que ahora se tienen 55 filas (los 55 sujetos) y cada una contiene toda la información del experimento

,Rating0.RESP_1.0,Rating0.RESP_2.0,Rating0.RESP_3.0,Rating0.RESP_4.0,Rating0.RESP_5.0,Rating0.RESP_6.0,Rating0.RESP_7.0,Rating0.RESP_8.0,Rating0.RESP_9.0,Rating0.RESP_10.0,...,Fulfilled_36.0,Fulfilled_37.0,Fulfilled_38.0,Fulfilled_39.0,Fulfilled_40.0,Fulfilled_41.0,Fulfilled_42.0,Fulfilled_43.0,Fulfilled_44.0,Fulfilled_45.0
DataFile.Basename,,,,,,,,,,,,,,,,,,,,,
PREDWELL_RETOS-1001-1,3.0,3.0,1.0,4.0,2.0,3.0,4.0,1.0,3.0,4.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
PREDWELL_RETOS-1002-1,3.0,3.0,1.0,1.0,2.0,1.0,3.0,4.0,3.0,2.0,...,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
PREDWELL_RETOS-1003-1,2.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,2.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0
PREDWELL_RETOS-1004-1,2.0,3.0,4.0,4.0,1.0,3.0,1.0,1.0,3.0,2.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0
PREDWELL_RETOS-1005-1,2.0,1.0,2.0,1.0,1.0,4.0,3.0,4.0,1.0,3.0,...,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0

In [4]:
print("Mean difference pred/like:",np.mean(abs(BEBRASK_tasks["Rating0.RESP"] - BEBRASK_tasks["Rating.RESP"])))
print("Std difference pred/like:",np.std(abs(BEBRASK_tasks["Rating0.RESP"] - BEBRASK_tasks["Rating.RESP"])))
BEBRASK_tasks_long.isna().sum()

#We note that some values of Rating0.RESP and Rating.RESP are NA and that the difference between the Rating0 and Rating value is usually not greater than 1, therefore we will impute the values from the other Rating in case the value is not missing.

Mean difference pred/like: 0.8911592994161801
Std difference pred/like: 0.8296508347297773

Rating0.RESP_1.0    0
Rating0.RESP_2.0    2
Rating0.RESP_3.0    0
Rating0.RESP_4.0    0
Rating0.RESP_5.0    1
                   ..
Fulfilled_41.0      0
Fulfilled_42.0      0
Fulfilled_43.0      0
Fulfilled_44.0      0
Fulfilled_45.0      0
Length: 270, dtype: int64

In [5]:
for i in range(1, 46):
    rating1_col = f'Rating0.RESP_{i}.0'
    rating2_col = f'Rating.RESP_{i}.0'

    # We fill NA values of Rating0 with Rating, and vice versa
    BEBRASK_tasks_long[rating1_col].fillna(BEBRASK_tasks_long[rating2_col], inplace=True)
    BEBRASK_tasks_long[rating2_col].fillna(BEBRASK_tasks_long[rating1_col], inplace=True)

BEBRASK_tasks_long.isna().sum()
#All NaN values have been filled, so there is no need to use any other imputation method.

/tmp/ipykernel_9823/4242923729.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  BEBRASK_tasks_long[rating1_col].fillna(BEBRASK_tasks_long[rating2_col], inplace=True)
/tmp/ipykernel_9823/4242923729.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  BEBRASK_tasks_long[rating2_col].fillna(BEBRASK_tasks_long[rating1_col], inplace=True)

Rating0.RESP_1.0    0
Rating0.RESP_2.0    0
Rating0.RESP_3.0    0
Rating0.RESP_4.0    0
Rating0.RESP_5.0    0
                   ..
Fulfilled_41.0      0
Fulfilled_42.0      0
Fulfilled_43.0      0
Fulfilled_44.0      0
Fulfilled_45.0      0
Length: 270, dtype: int64

In [6]:
BEBRASK_tasks_long.to_excel('../Clustering_Predictive_Processing/BEBRASK_long.xlsx', index=False)
BEBRASK_tasks_long_copy = BEBRASK_tasks_long.copy()

In [7]:
def creation_dictionary_from_df(df,n_subjects):
    """
   Processes a DataFrame to create a dictionary that organizes data related to emotions (happiness, sadness, fear) for a specified number of subjects.
    with emotions (happiness, sadness, fear) for a specified number of subjects.
    
    Parameters:
    - df (pandas.DataFrame): The DataFrame containing the survey data. Each row represents one subject.
    - n_subjects (int): The number of subjects to process from the DataFrame.
    
    Returns:
    - dict_df (dict): A dictionary where each key is a subject identifier and its value is another dictionary. This 
      nested dictionary categorizes the data into emotions 'Happy', 'Sad' and 'Fear'. Each emotion key is then mapped to another 
      dictionary with keys 'Rating0' (Rating0.RESP), 'Rating' (Rating.RESP), 'Expression' (Expression) and 'Fulfillment' (Fulfillment).
    
    Translated with DeepL.com (free version)
    """
    dict_df  = {}
    for j in range(0,n_subjects):
        subject = df.iloc[j]
        id = df.index.values[j]
        happy_pred = []
        happy_like = []
        happy_facial = []
        happy_fulfill = []
        sad_pred = []
        sad_like = []
        sad_facial = []
        sad_fulfill = []
        fear_pred = []
        fear_like = []
        fear_facial = []
        fear_fulfill = []
        
        for i in range(1,46):
            pred = f'Rating0.RESP_{i}.0'
            like = f'Rating.RESP_{i}.0'
            emotion = f'EvokedEmotion_{i}.0'
            facial = f'Expression_{i}.0'
            fulfill = f'Fulfilled_{i}.0'
            
            if subject[emotion] == "happiness":
                happy_pred.append(int(subject[pred]))
                happy_like.append(int(subject[like]))
                happy_facial.append(subject[facial])
                happy_fulfill.append(subject[fulfill])
                
            elif subject[emotion] == "sadness":
                sad_pred.append(int(subject[pred]))
                sad_like.append(int(subject[like]))
                sad_facial.append(subject[facial])
                sad_fulfill.append(subject[fulfill])
    
            else:
                fear_pred.append(int(subject[pred]))
                fear_like.append(int(subject[like]))
                fear_facial.append(subject[facial])
                fear_fulfill.append(subject[fulfill])
    
        dict_df[id] = {'Happy':{'Rating0':np.array(happy_pred), 'Rating': np.array(happy_like), 'Expression':np.array(happy_facial),'Fulfill':np.array(happy_fulfill)},'Sad':{ 'Rating0':np.array(sad_pred), 'Rating':np.array(sad_like), 'Expression':np.array(sad_facial),'Fulfill': np.array(sad_fulfill)}, 'Fear':{'Rating0':np.array(fear_pred),'Rating': np.array(fear_like),'Expression': np.array(fear_facial), 'Fulfill': np.array(fear_fulfill)}}
    
    return dict_df   

subject_dict_BEBRASK = creation_dictionary_from_df(BEBRASK_tasks_long,len(BEBRASK_tasks_long))

In [8]:
def creation_count_df(subject_dict,rating):
    """
    Processes a dictionary with the information of the responses given by each subject organized by feeling, and creates
    a dataframe containing how many times a subject has given a score to a trial type (subject to the evoked emotion and whether it is a match or not).
    and whether it is match or not).
    
    Parameters:
    - subject_dict (dict): Dictionary containing the information of the scores organized by subject and by emotion.
    - rating (string): Rating from which to make the aggregations of the scores (Rating0 or Rating).
    
    Returns:
    - df_counts (pandas.DataFrame): A dataframe where each row contains the identifier of the subject, the emotion evoked,
    whether it is match or not, the corresponding score and how many times it happens.
      
    """
    processed_data = {}
    for id in subject_dict.keys():
        for j,key in enumerate(subject_dict[id].keys()):
                    
            one_no_match = np.count_nonzero((subject_dict[id][key][rating]==1) & (subject_dict[id][key]['Fulfill'] == 0),keepdims=True)[0]
            two_no_match = np.count_nonzero((subject_dict[id][key][rating]==2) & (subject_dict[id][key]['Fulfill'] == 0),keepdims=True)[0]
            three_no_match = np.count_nonzero((subject_dict[id][key][rating]==3) & (subject_dict[id][key]['Fulfill'] == 0),keepdims=True)[0]
            four_no_match = np.count_nonzero((subject_dict[id][key][rating]==4) & (subject_dict[id][key]['Fulfill'] == 0),keepdims=True)[0]
    
            one_match = np.count_nonzero((subject_dict[id][key][rating]==1) & (subject_dict[id][key]['Fulfill'] == 1),keepdims=True)[0]
            two_match = np.count_nonzero((subject_dict[id][key][rating]==2) & (subject_dict[id][key]['Fulfill'] == 1),keepdims=True)[0]
            three_match = np.count_nonzero((subject_dict[id][key][rating]==3) & (subject_dict[id][key]['Fulfill'] == 1),keepdims=True)[0]
            four_match = np.count_nonzero((subject_dict[id][key][rating]==4) & (subject_dict[id][key]['Fulfill'] == 1),keepdims=True)[0]
            if j == 0 :
                processed_data[id] = {key:{'Match':[one_match,two_match,three_match,four_match],'No_Match':[one_no_match,two_no_match,three_no_match,four_no_match]}}
            else:
                processed_data[id].update({key:{'Match':[one_match,two_match,three_match,four_match],'No_Match':[one_no_match,two_no_match,three_no_match,four_no_match]}})

    df_list = []
    
    for subject, emotions in processed_data.items():
        for emotion, match_data in emotions.items():
            for match_type, scores in match_data.items():
                for score, count in enumerate(scores, start=1):
                    df_list.append([subject, emotion, match_type == 'Match', score, count])
    
    df_counts = pd.DataFrame(df_list, columns=['Subject', 'Emotion', 'Match', 'Score', 'Count'])
    df_counts['Match'] = df_counts['Match'].astype(int)
    
    return df_counts

Rating0_BEBRASK_counts =creation_count_df(subject_dict_BEBRASK,"Rating0")
Rating_BEBRASK_counts =creation_count_df(subject_dict_BEBRASK,"Rating")

In [9]:
Rating0_BEBRASK_counts.head(5)

                 Subject Emotion  Match  Score  Count
0  PREDWELL_RETOS-1001-1   Happy      1      1      0
1  PREDWELL_RETOS-1001-1   Happy      1      2      0
2  PREDWELL_RETOS-1001-1   Happy      1      3      1
3  PREDWELL_RETOS-1001-1   Happy      1      4      8
4  PREDWELL_RETOS-1001-1   Happy      0      1      5

In [10]:
Rating_BEBRASK_counts.head(5)

                 Subject Emotion  Match  Score  Count
0  PREDWELL_RETOS-1001-1   Happy      1      1      0
1  PREDWELL_RETOS-1001-1   Happy      1      2      0
2  PREDWELL_RETOS-1001-1   Happy      1      3      6
3  PREDWELL_RETOS-1001-1   Happy      1      4      3
4  PREDWELL_RETOS-1001-1   Happy      0      1      1

In [11]:
multiindex_Rating0 = Rating0_BEBRASK_counts.set_index(['Subject', 'Emotion', 'Match', 'Score'])
Rating0_BEBRASK_df = multiindex_Rating0.unstack(level=['Emotion', 'Match', 'Score'])
Rating0_BEBRASK_df.columns = ['_'.join(map(str, col)).strip() for col in Rating0_BEBRASK_df.columns.values]
Rating0_BEBRASK_df = Rating0_BEBRASK_df.reset_index()

#We modify the Dataset so that each row completely represents a subject with all the information regarding its ratings.
Rating0_BEBRASK_df.to_excel('../Clustering_Predictive_Processing/BEBRASK_Rating0_count.xlsx', index=False) 
Rating0_BEBRASK_df.head(5)

,Subject,Count_Happy_1_1,Count_Happy_1_2,Count_Happy_1_3,Count_Happy_1_4,Count_Happy_0_1,Count_Happy_0_2,Count_Happy_0_3,Count_Happy_0_4,Count_Sad_1_1,...,Count_Sad_0_3,Count_Sad_0_4,Count_Fear_1_1,Count_Fear_1_2,Count_Fear_1_3,Count_Fear_1_4,Count_Fear_0_1,Count_Fear_0_2,Count_Fear_0_3,Count_Fear_0_4
0,PREDWELL_RETOS-1001-1,0,0,1,8,5,0,0,1,0,...,2,0,1,1,4,3,3,0,3,0
1,PREDWELL_RETOS-1002-1,0,0,2,7,5,0,1,0,0,...,1,1,1,1,4,3,2,0,4,0
2,PREDWELL_RETOS-1003-1,0,0,6,3,6,0,0,0,0,...,0,0,1,5,3,0,3,2,1,0
3,PREDWELL_RETOS-1004-1,3,1,4,1,3,1,2,0,4,...,1,0,2,2,4,1,2,2,1,1
4,PREDWELL_RETOS-1005-1,0,0,3,6,5,1,0,0,0,...,1,1,0,3,5,1,3,1,1,1

In [12]:
multiindex_Rating = Rating_BEBRASK_counts.set_index(['Subject', 'Emotion', 'Match', 'Score'])
Rating_BEBRASK_df = multiindex_Rating.unstack(level=['Emotion', 'Match', 'Score'])
Rating_BEBRASK_df.columns = ['_'.join(map(str, col)).strip() for col in Rating_BEBRASK_df.columns.values]
Rating_BEBRASK_df = Rating_BEBRASK_df.reset_index()

#We modify the Dataset so that each row completely represents a subject with all the information regarding its ratings.
Rating_BEBRASK_df.to_excel('../Clustering_Predictive_Processing/BEBRASK_Rating_count.xlsx', index=False) 
Rating_BEBRASK_df.head(5)

,Subject,Count_Happy_1_1,Count_Happy_1_2,Count_Happy_1_3,Count_Happy_1_4,Count_Happy_0_1,Count_Happy_0_2,Count_Happy_0_3,Count_Happy_0_4,Count_Sad_1_1,...,Count_Sad_0_3,Count_Sad_0_4,Count_Fear_1_1,Count_Fear_1_2,Count_Fear_1_3,Count_Fear_1_4,Count_Fear_0_1,Count_Fear_0_2,Count_Fear_0_3,Count_Fear_0_4
0,PREDWELL_RETOS-1001-1,0,0,6,3,1,2,2,1,1,...,1,2,0,5,4,0,1,2,3,0
1,PREDWELL_RETOS-1002-1,0,1,2,6,0,3,3,0,0,...,2,0,0,3,5,1,1,1,3,1
2,PREDWELL_RETOS-1003-1,0,2,5,2,0,3,1,2,1,...,2,1,1,1,5,2,1,1,3,1
3,PREDWELL_RETOS-1004-1,2,2,4,1,1,4,1,0,3,...,1,1,0,5,3,1,2,1,3,0
4,PREDWELL_RETOS-1005-1,0,0,4,5,0,4,2,0,0,...,3,0,0,7,2,0,0,1,5,0

## RETOS DATASET COUNT

In [13]:
RETOS_tasks = pd.read_excel('../Datasets/RETOS_task.xlsx')
RETOS_tasks = RETOS_tasks[
    ["DataFile.Basename", "Rating0.RESP", "Rating.RESP", "EvokedEmotion", "Expression", "ScenarioPick", "TrialCount",
     "Fulfilled"]].copy()
RETOS_tasks.dropna(subset=["TrialCount"], inplace=True)
subjects_id = RETOS_tasks["DataFile.Basename"].unique()

#Choice of relevant variables for clustering, and elimination of rows that do not correspond to trials.

In [14]:
RETOS_tasks_long= RETOS_tasks.pivot(index="DataFile.Basename", columns='TrialCount')
RETOS_tasks_long.columns = ['_'.join(str(col) for col in cols) for cols in RETOS_tasks_long.columns.values]

RETOS_tasks_long.head(5)

,Rating0.RESP_1.0,Rating0.RESP_2.0,Rating0.RESP_3.0,Rating0.RESP_4.0,Rating0.RESP_5.0,Rating0.RESP_6.0,Rating0.RESP_7.0,Rating0.RESP_8.0,Rating0.RESP_9.0,Rating0.RESP_10.0,...,Fulfilled_36.0,Fulfilled_37.0,Fulfilled_38.0,Fulfilled_39.0,Fulfilled_40.0,Fulfilled_41.0,Fulfilled_42.0,Fulfilled_43.0,Fulfilled_44.0,Fulfilled_45.0
DataFile.Basename,,,,,,,,,,,,,,,,,,,,,
PREDWELL_RETOS-1-1,1.0,3.0,4.0,4.0,4.0,2.0,1.0,4.0,4.0,4.0,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
PREDWELL_RETOS-10-1,4.0,2.0,2.0,4.0,3.0,4.0,3.0,1.0,1.0,3.0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
PREDWELL_RETOS-101-1,2.0,3.0,3.0,4.0,4.0,1.0,1.0,4.0,3.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
PREDWELL_RETOS-102-1,1.0,1.0,2.0,1.0,1.0,2.0,2.0,1.0,1.0,4.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
PREDWELL_RETOS-103-1,3.0,1.0,2.0,2.0,1.0,1.0,3.0,1.0,2.0,1.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0

In [15]:
print("Mean difference pred/like:",np.mean(abs(RETOS_tasks["Rating0.RESP"] - RETOS_tasks["Rating.RESP"])))
print("Std difference pred/like:",np.std(abs(RETOS_tasks["Rating0.RESP"] - RETOS_tasks["Rating.RESP"])))
RETOS_tasks_long.isna().sum()

#We observe many more NaN values than before. We will start by doing imputation of the missing data in the same method as before.

Mean difference pred/like: 0.9506468615237182
Std difference pred/like: 0.857592887940186

Rating0.RESP_1.0    5
Rating0.RESP_2.0    1
Rating0.RESP_3.0    1
Rating0.RESP_4.0    2
Rating0.RESP_5.0    1
                   ..
Fulfilled_41.0      1
Fulfilled_42.0      1
Fulfilled_43.0      1
Fulfilled_44.0      1
Fulfilled_45.0      1
Length: 270, dtype: int64

In [16]:
for i in range(1, 46):
    rating1_col = f'Rating0.RESP_{i}.0'
    rating2_col = f'Rating.RESP_{i}.0'

# We fill the NA with Rating0 with the Rating values, and vice versa.
    RETOS_tasks_long[rating1_col].fillna(RETOS_tasks_long[rating2_col], inplace=True)
    RETOS_tasks_long[rating2_col].fillna(RETOS_tasks_long[rating1_col], inplace=True)

RETOS_tasks_long.isna().sum()
#We see that there is a value that is not corrected, we look to see if it corresponds to one subject or more.

/tmp/ipykernel_9823/2447595282.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  RETOS_tasks_long[rating1_col].fillna(RETOS_tasks_long[rating2_col], inplace=True)
/tmp/ipykernel_9823/2447595282.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  RETOS_tasks_long[rating2_col].fillna(RETOS_tasks_long[rating1_col], inplace=True)

Rating0.RESP_1.0    1
Rating0.RESP_2.0    1
Rating0.RESP_3.0    1
Rating0.RESP_4.0    1
Rating0.RESP_5.0    1
                   ..
Fulfilled_41.0      1
Fulfilled_42.0      1
Fulfilled_43.0      1
Fulfilled_44.0      1
Fulfilled_45.0      1
Length: 270, dtype: int64

In [17]:
RETOS_tasks_long.isna().sum(axis=1)

DataFile.Basename
PREDWELL_RETOS-1-1      0
PREDWELL_RETOS-10-1     0
PREDWELL_RETOS-101-1    0
PREDWELL_RETOS-102-1    0
PREDWELL_RETOS-103-1    0
                       ..
PREDWELL_RETOS-5-1      0
PREDWELL_RETOS-6-1      0
PREDWELL_RETOS-7-1      0
PREDWELL_RETOS-8-1      0
PREDWELL_RETOS-9-1      0
Length: 96, dtype: int64

In [18]:
RETOS_tasks_long[RETOS_tasks_long.isna().sum(axis=1) > 0]

,Rating0.RESP_1.0,Rating0.RESP_2.0,Rating0.RESP_3.0,Rating0.RESP_4.0,Rating0.RESP_5.0,Rating0.RESP_6.0,Rating0.RESP_7.0,Rating0.RESP_8.0,Rating0.RESP_9.0,Rating0.RESP_10.0,...,Fulfilled_36.0,Fulfilled_37.0,Fulfilled_38.0,Fulfilled_39.0,Fulfilled_40.0,Fulfilled_41.0,Fulfilled_42.0,Fulfilled_43.0,Fulfilled_44.0,Fulfilled_45.0
DataFile.Basename,,,,,,,,,,,,,,,,,,,,,
PREDWELL_RETOS-124-1,2.0,3.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,...,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
PREDWELL_RETOS-307-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
PREDWELL_RETOS-307-3,1.0,3.0,3.0,1.0,3.0,3.0,3.0,3.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#Data from PREDWELL_RETOS-307-1 and PREDWELL_RETOS-307-3 are from the same subject, therefore they should be combined and treated as a single row.

In [20]:
part1 = RETOS_tasks_long.iloc[RETOS_tasks_long.index =='PREDWELL_RETOS-307-1'].T
part2 = RETOS_tasks_long.iloc[RETOS_tasks_long.index =='PREDWELL_RETOS-307-3'].T
combined_row = np.where(part1.isnull(), part2, part1).T
RETOS_tasks_long.iloc[RETOS_tasks_long.index == 'PREDWELL_RETOS-307-1'] = combined_row

In [21]:
RETOS_tasks_long[RETOS_tasks_long.isna().sum(axis=1) > 0]

,Rating0.RESP_1.0,Rating0.RESP_2.0,Rating0.RESP_3.0,Rating0.RESP_4.0,Rating0.RESP_5.0,Rating0.RESP_6.0,Rating0.RESP_7.0,Rating0.RESP_8.0,Rating0.RESP_9.0,Rating0.RESP_10.0,...,Fulfilled_36.0,Fulfilled_37.0,Fulfilled_38.0,Fulfilled_39.0,Fulfilled_40.0,Fulfilled_41.0,Fulfilled_42.0,Fulfilled_43.0,Fulfilled_44.0,Fulfilled_45.0
DataFile.Basename,,,,,,,,,,,,,,,,,,,,,
PREDWELL_RETOS-124-1,2.0,3.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,...,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
PREDWELL_RETOS-307-1,1.0,3.0,3.0,1.0,3.0,3.0,3.0,3.0,2.0,3.0,...,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
PREDWELL_RETOS-307-3,1.0,3.0,3.0,1.0,3.0,3.0,3.0,3.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
RETOS_tasks_long = RETOS_tasks_long.query("index != 'PREDWELL_RETOS-307-3'")

#We delete the excess row from combination.

RETOS_tasks_long[RETOS_tasks_long.index == "PREDWELL_RETOS-124-1"] 
#We see that the evoked emotion is fear and the expression is also fear, therefore it corresponds to a match.

RETOS_tasks_long[RETOS_tasks_long.index == "PREDWELL_RETOS-307-1"] 
#We see that the evoked emotion is sadness and the expression is Happy, therefore it corresponds to a non match.

,Rating0.RESP_1.0,Rating0.RESP_2.0,Rating0.RESP_3.0,Rating0.RESP_4.0,Rating0.RESP_5.0,Rating0.RESP_6.0,Rating0.RESP_7.0,Rating0.RESP_8.0,Rating0.RESP_9.0,Rating0.RESP_10.0,...,Fulfilled_36.0,Fulfilled_37.0,Fulfilled_38.0,Fulfilled_39.0,Fulfilled_40.0,Fulfilled_41.0,Fulfilled_42.0,Fulfilled_43.0,Fulfilled_44.0,Fulfilled_45.0
DataFile.Basename,,,,,,,,,,,,,,,,,,,,,
PREDWELL_RETOS-307-1,1.0,3.0,3.0,1.0,3.0,3.0,3.0,3.0,2.0,3.0,...,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0

In [23]:
RETOS_tasks_long

,Rating0.RESP_1.0,Rating0.RESP_2.0,Rating0.RESP_3.0,Rating0.RESP_4.0,Rating0.RESP_5.0,Rating0.RESP_6.0,Rating0.RESP_7.0,Rating0.RESP_8.0,Rating0.RESP_9.0,Rating0.RESP_10.0,...,Fulfilled_36.0,Fulfilled_37.0,Fulfilled_38.0,Fulfilled_39.0,Fulfilled_40.0,Fulfilled_41.0,Fulfilled_42.0,Fulfilled_43.0,Fulfilled_44.0,Fulfilled_45.0
DataFile.Basename,,,,,,,,,,,,,,,,,,,,,
PREDWELL_RETOS-1-1,1.0,3.0,4.0,4.0,4.0,2.0,1.0,4.0,4.0,4.0,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
PREDWELL_RETOS-10-1,4.0,2.0,2.0,4.0,3.0,4.0,3.0,1.0,1.0,3.0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
PREDWELL_RETOS-101-1,2.0,3.0,3.0,4.0,4.0,1.0,1.0,4.0,3.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
PREDWELL_RETOS-102-1,1.0,1.0,2.0,1.0,1.0,2.0,2.0,1.0,1.0,4.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
PREDWELL_RETOS-103-1,3.0,1.0,2.0,2.0,1.0,1.0,3.0,1.0,2.0,1.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PREDWELL_RETOS-5-1,1.0,1.0,1.0,4.0,2.0,3.0,2.0,2.0,2.0,4.0,...,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
PREDWELL_RETOS-6-1,2.0,3.0,1.0,1.0,2.0,3.0,2.0,2.0,1.0,2.0,...,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
PREDWELL_RETOS-7-1,1.0,1.0,1.0,3.0,3.0,1.0,4.0,4.0,2.0,1.0,...,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
PREDWELL_RETOS-8-1,2.0,3.0,3.0,1.0,4.0,3.0,1.0,3.0,4.0,4.0,...,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0
PREDWELL_RETOS-9-1,2.0,1.0,1.0,4.0,1.0,1.0,3.0,1.0,3.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0

In [24]:
rating0_list_124 = []
rating_list_124 = []

rating0_list_307 = []
rating_list_307 = []

for i in range(1,46):
        rating0 = f'Rating0.RESP_{i}.0'
        rating = f'Rating.RESP_{i}.0'
        emotion = f'EvokedEmotion_{i}.0'
        fulfill = f'Fulfilled_{i}.0'
        
        if RETOS_tasks_long[RETOS_tasks_long.index == "PREDWELL_RETOS-124-1"][emotion].values[0] == "fear" and RETOS_tasks_long[RETOS_tasks_long.index == "PREDWELL_RETOS-124-1"][fulfill].values[0] == 1 and i!=20:
            rating0_list_124.append(RETOS_tasks_long[RETOS_tasks_long.index == "PREDWELL_RETOS-307-1"][rating0].values[0])

            rating_list_124.append(RETOS_tasks_long[RETOS_tasks_long.index == "PREDWELL_RETOS-307-1"][rating].values[0])
        
        if RETOS_tasks_long[RETOS_tasks_long.index == "PREDWELL_RETOS-307-1"][emotion].values[0] == "sadness" and RETOS_tasks_long[RETOS_tasks_long.index == "PREDWELL_RETOS-307-1"][fulfill].values[0] == 0 and i!=18:
            rating0_list_307.append(RETOS_tasks_long[RETOS_tasks_long.index == "PREDWELL_RETOS-307-1"][rating0].values[0])

            rating_list_307.append(RETOS_tasks_long[RETOS_tasks_long.index == "PREDWELL_RETOS-307-1"][rating].values[0])

        

RETOS_tasks_long.loc[RETOS_tasks_long.index == "PREDWELL_RETOS-124-1", "Rating.RESP_20.0"] = statistics.multimode(rating_list_124)[0]
RETOS_tasks_long.loc[RETOS_tasks_long.index == "PREDWELL_RETOS-124-1", "Rating0.RESP_20.0"] = statistics.multimode(rating0_list_124)[0]
RETOS_tasks_long.loc[RETOS_tasks_long.index == "PREDWELL_RETOS-307-1", "Rating.RESP_18.0"] = statistics.multimode(rating_list_307)[0]
RETOS_tasks_long.loc[RETOS_tasks_long.index == "PREDWELL_RETOS-307-1", "Rating0.RESP_18.0"] = statistics.multimode(rating0_list_307)[0]

In [25]:
RETOS_tasks_long.to_excel('../Clustering_Predictive_Processing/RETOS_long.xlsx', index=False)
RETOS_tasks_long_copy = RETOS_tasks_long.copy()

In [26]:
RETOS_tasks_long = RETOS_tasks_long.query("index != 'PREDWELL_RETOS-307-1'")

In [27]:
subject_dict_RETOS = creation_dictionary_from_df(RETOS_tasks_long,len(RETOS_tasks_long))
Rating0_RETOS_counts = creation_count_df(subject_dict_RETOS, "Rating0")
Rating_RETOS_counts = creation_count_df(subject_dict_RETOS, "Rating")

In [28]:
Rating0_RETOS_counts.head(5)

              Subject Emotion  Match  Score  Count
0  PREDWELL_RETOS-1-1   Happy      1      1      0
1  PREDWELL_RETOS-1-1   Happy      1      2      0
2  PREDWELL_RETOS-1-1   Happy      1      3      1
3  PREDWELL_RETOS-1-1   Happy      1      4      8
4  PREDWELL_RETOS-1-1   Happy      0      1      5

In [29]:
Rating_RETOS_counts.head(5)

              Subject Emotion  Match  Score  Count
0  PREDWELL_RETOS-1-1   Happy      1      1      0
1  PREDWELL_RETOS-1-1   Happy      1      2      0
2  PREDWELL_RETOS-1-1   Happy      1      3      3
3  PREDWELL_RETOS-1-1   Happy      1      4      6
4  PREDWELL_RETOS-1-1   Happy      0      1      0

In [30]:
multiindex_Rating0 = Rating0_RETOS_counts.set_index(['Subject', 'Emotion', 'Match', 'Score'])
Rating0_RETOS_df = multiindex_Rating0.unstack(level=['Emotion', 'Match', 'Score'])
Rating0_RETOS_df.columns = ['_'.join(map(str, col)).strip() for col in Rating0_RETOS_df.columns.values]
Rating0_RETOS_df = Rating0_RETOS_df.reset_index()

#We modify the Dataset so that each row completely represents a subject with all the information regarding its ratings.
Rating0_RETOS_df.to_excel('../Clustering_Predictive_Processing/RETOS_Rating0_count.xlsx', index=False) 
Rating0_RETOS_df.head(5)

,Subject,Count_Happy_1_1,Count_Happy_1_2,Count_Happy_1_3,Count_Happy_1_4,Count_Happy_0_1,Count_Happy_0_2,Count_Happy_0_3,Count_Happy_0_4,Count_Sad_1_1,...,Count_Sad_0_3,Count_Sad_0_4,Count_Fear_1_1,Count_Fear_1_2,Count_Fear_1_3,Count_Fear_1_4,Count_Fear_0_1,Count_Fear_0_2,Count_Fear_0_3,Count_Fear_0_4
0,PREDWELL_RETOS-1-1,0,0,1,8,5,0,0,1,0,...,2,1,0,3,1,5,3,1,1,1
1,PREDWELL_RETOS-10-1,0,1,4,4,4,2,0,0,0,...,1,0,1,1,3,4,1,3,1,1
2,PREDWELL_RETOS-101-1,0,1,2,6,5,1,0,0,1,...,1,0,2,1,3,3,5,1,0,0
3,PREDWELL_RETOS-102-1,1,0,4,4,6,0,0,0,1,...,0,3,0,2,3,4,4,2,0,0
4,PREDWELL_RETOS-103-1,0,1,1,7,5,1,0,0,0,...,1,0,3,2,3,1,3,2,1,0

In [31]:
multiindex_Rating = Rating0_RETOS_counts.set_index(['Subject', 'Emotion', 'Match', 'Score'])
Rating_RETOS_df = multiindex_Rating.unstack(level=['Emotion', 'Match', 'Score'])
Rating_RETOS_df.columns = ['_'.join(map(str, col)).strip() for col in Rating_RETOS_df.columns.values]
Rating_RETOS_df = Rating_RETOS_df.reset_index()

#We modify the Dataset so that each row completely represents a subject with all the information regarding its ratings.
Rating_RETOS_df.to_excel('../Clustering_Predictive_Processing/RETOS_Rating_count.xlsx', index=False) 
Rating_RETOS_df.head(5)

,Subject,Count_Happy_1_1,Count_Happy_1_2,Count_Happy_1_3,Count_Happy_1_4,Count_Happy_0_1,Count_Happy_0_2,Count_Happy_0_3,Count_Happy_0_4,Count_Sad_1_1,...,Count_Sad_0_3,Count_Sad_0_4,Count_Fear_1_1,Count_Fear_1_2,Count_Fear_1_3,Count_Fear_1_4,Count_Fear_0_1,Count_Fear_0_2,Count_Fear_0_3,Count_Fear_0_4
0,PREDWELL_RETOS-1-1,0,0,1,8,5,0,0,1,0,...,2,1,0,3,1,5,3,1,1,1
1,PREDWELL_RETOS-10-1,0,1,4,4,4,2,0,0,0,...,1,0,1,1,3,4,1,3,1,1
2,PREDWELL_RETOS-101-1,0,1,2,6,5,1,0,0,1,...,1,0,2,1,3,3,5,1,0,0
3,PREDWELL_RETOS-102-1,1,0,4,4,6,0,0,0,1,...,0,3,0,2,3,4,4,2,0,0
4,PREDWELL_RETOS-103-1,0,1,1,7,5,1,0,0,0,...,1,0,3,2,3,1,3,2,1,0

## BEBRASK & RETOS Long Merge

In [32]:
RETOS_BEBRASK_long = pd.concat([RETOS_tasks_long_copy,BEBRASK_tasks_long_copy])
RETOS_BEBRASK_long.to_excel('../Clustering_Predictive_Processing/RETOS_BEBRASK_long.xlsx', index=True)
RETOS_BEBRASK_long.head(5)

,Rating0.RESP_1.0,Rating0.RESP_2.0,Rating0.RESP_3.0,Rating0.RESP_4.0,Rating0.RESP_5.0,Rating0.RESP_6.0,Rating0.RESP_7.0,Rating0.RESP_8.0,Rating0.RESP_9.0,Rating0.RESP_10.0,...,Fulfilled_36.0,Fulfilled_37.0,Fulfilled_38.0,Fulfilled_39.0,Fulfilled_40.0,Fulfilled_41.0,Fulfilled_42.0,Fulfilled_43.0,Fulfilled_44.0,Fulfilled_45.0
DataFile.Basename,,,,,,,,,,,,,,,,,,,,,
PREDWELL_RETOS-1-1,1.0,3.0,4.0,4.0,4.0,2.0,1.0,4.0,4.0,4.0,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
PREDWELL_RETOS-10-1,4.0,2.0,2.0,4.0,3.0,4.0,3.0,1.0,1.0,3.0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
PREDWELL_RETOS-101-1,2.0,3.0,3.0,4.0,4.0,1.0,1.0,4.0,3.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
PREDWELL_RETOS-102-1,1.0,1.0,2.0,1.0,1.0,2.0,2.0,1.0,1.0,4.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
PREDWELL_RETOS-103-1,3.0,1.0,2.0,2.0,1.0,1.0,3.0,1.0,2.0,1.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0

## BEBRASK & RETOS Count Merge

In [33]:
RETOS_BEBRASK_Rating0_Count = pd.concat([Rating0_RETOS_df,Rating0_BEBRASK_df])
RETOS_BEBRASK_Rating0_Count.to_excel('../Clustering_Predictive_Processing/RETOS_BEBRASK_Rating0_count.xlsx', index=False) 
RETOS_BEBRASK_Rating0_Count.head(5)

,Subject,Count_Happy_1_1,Count_Happy_1_2,Count_Happy_1_3,Count_Happy_1_4,Count_Happy_0_1,Count_Happy_0_2,Count_Happy_0_3,Count_Happy_0_4,Count_Sad_1_1,...,Count_Sad_0_3,Count_Sad_0_4,Count_Fear_1_1,Count_Fear_1_2,Count_Fear_1_3,Count_Fear_1_4,Count_Fear_0_1,Count_Fear_0_2,Count_Fear_0_3,Count_Fear_0_4
0,PREDWELL_RETOS-1-1,0,0,1,8,5,0,0,1,0,...,2,1,0,3,1,5,3,1,1,1
1,PREDWELL_RETOS-10-1,0,1,4,4,4,2,0,0,0,...,1,0,1,1,3,4,1,3,1,1
2,PREDWELL_RETOS-101-1,0,1,2,6,5,1,0,0,1,...,1,0,2,1,3,3,5,1,0,0
3,PREDWELL_RETOS-102-1,1,0,4,4,6,0,0,0,1,...,0,3,0,2,3,4,4,2,0,0
4,PREDWELL_RETOS-103-1,0,1,1,7,5,1,0,0,0,...,1,0,3,2,3,1,3,2,1,0

In [34]:
RETOS_BEBRASK_Rating_Count = pd.concat([Rating_RETOS_df, Rating_BEBRASK_df])
RETOS_BEBRASK_Rating_Count.to_excel('../Clustering_Predictive_Processing/RETOS_BEBRASK_Rating_count.xlsx',index=False)
RETOS_BEBRASK_Rating_Count.head(5)

,Subject,Count_Happy_1_1,Count_Happy_1_2,Count_Happy_1_3,Count_Happy_1_4,Count_Happy_0_1,Count_Happy_0_2,Count_Happy_0_3,Count_Happy_0_4,Count_Sad_1_1,...,Count_Sad_0_3,Count_Sad_0_4,Count_Fear_1_1,Count_Fear_1_2,Count_Fear_1_3,Count_Fear_1_4,Count_Fear_0_1,Count_Fear_0_2,Count_Fear_0_3,Count_Fear_0_4
0,PREDWELL_RETOS-1-1,0,0,1,8,5,0,0,1,0,...,2,1,0,3,1,5,3,1,1,1
1,PREDWELL_RETOS-10-1,0,1,4,4,4,2,0,0,0,...,1,0,1,1,3,4,1,3,1,1
2,PREDWELL_RETOS-101-1,0,1,2,6,5,1,0,0,1,...,1,0,2,1,3,3,5,1,0,0
3,PREDWELL_RETOS-102-1,1,0,4,4,6,0,0,0,1,...,0,3,0,2,3,4,4,2,0,0
4,PREDWELL_RETOS-103-1,0,1,1,7,5,1,0,0,0,...,1,0,3,2,3,1,3,2,1,0

## BEBRASK & RETOS Time Series By Emotion and Match

In [35]:
merged_dict = {**subject_dict_BEBRASK, **subject_dict_RETOS}

#Unimos los dos diccionarios con la información organizada por emociones

In [36]:
def convert_time_series(subject_dict,rating):
    """
    Processes a dictionary with the information of the answers given by each subject organized by sentiment, and creates
    a dataframe where the trials are organized sequentially according to the emotion and whether it is a match or not (e.g. the first 9 columns of a subject are the 9 Happy match trials, the next 6 are the Happy no match trials, and the next 6 are the Happy no match trials, and
    9 columns of a subject are the 9 Happy match trials, the next 6 are the Happy non-match, and so on with the other emotions).
    other emotions).  
    
    Parameters:
    - subject_dict (dict): Dictionary containing the information of the scores organized by subjects and by emotions.
    - rating (string): rating from which to make the aggregations of the scores (Rating0 or Rating).
    
    Returns:
    - df_counts (pandas.DataFrame): A dataframe where each row contains the subject's identifier and a time series corresponding to its answers.
    corresponding to its answers
    """
    results = {}
    for instance, categories in subject_dict.items():
        results[instance] = {}
        for category, info in categories.items():
            pred = info[rating]
            fulfill = info['Fulfill']
            no_match_pred = pred[np.where(fulfill == 0)[0]]
            match_pred = pred[np.where(fulfill == 1)[0]]
            

            results[instance][category] = {
                'Fulfill_0': no_match_pred,
                'Fulfill_1_': match_pred
            }
    records = []
    for subject_id, emotions in results.items():
        record = {'Subject ID': subject_id}
        for emotion, stats in emotions.items():
            for stat_key, stat_value in stats.items():
                for i,val in enumerate(stat_value):
                # Creating new column names in the format "Emotion_Match_AppearanceOrder"
                    column_name = f"{emotion}_{stat_key[8]}_{i}"
                    record[column_name] = val
        records.append(record)

    return pd.DataFrame(records)

In [37]:
RETOS_BEBRASK_Rating0_Time_Series = convert_time_series(merged_dict, "Rating0")
RETOS_BEBRASK_Rating_Time_Series = convert_time_series(merged_dict, "Rating")

In [38]:
RETOS_BEBRASK_Rating0_Time_Series.to_excel('../Clustering_Predictive_Processing/RETOS_BEBRASK_Rating0_Time_Series.xlsx', index=False) 
RETOS_BEBRASK_Rating0_Time_Series.head(5)

,Subject ID,Happy_0_0,Happy_0_1,Happy_0_2,Happy_0_3,Happy_0_4,Happy_0_5,Happy_1_0,Happy_1_1,Happy_1_2,...,Fear_0_5,Fear_1_0,Fear_1_1,Fear_1_2,Fear_1_3,Fear_1_4,Fear_1_5,Fear_1_6,Fear_1_7,Fear_1_8
0,PREDWELL_RETOS-1001-1,4,1,1,1,1,1,4,4,4,...,3,4,1,3,2,3,4,3,3,4
1,PREDWELL_RETOS-1002-1,1,1,3,1,1,1,3,4,4,...,1,3,1,3,4,3,4,2,3,4
2,PREDWELL_RETOS-1003-1,1,1,1,1,1,1,3,3,4,...,2,2,2,3,2,2,2,1,3,3
3,PREDWELL_RETOS-1004-1,1,1,3,3,2,1,1,4,2,...,2,2,4,3,1,3,3,2,1,3
4,PREDWELL_RETOS-1005-1,1,1,1,1,2,1,4,3,4,...,1,2,2,2,3,3,3,4,3,3

In [39]:
RETOS_BEBRASK_Rating0_Time_Series

,Subject ID,Happy_0_0,Happy_0_1,Happy_0_2,Happy_0_3,Happy_0_4,Happy_0_5,Happy_1_0,Happy_1_1,Happy_1_2,...,Fear_0_5,Fear_1_0,Fear_1_1,Fear_1_2,Fear_1_3,Fear_1_4,Fear_1_5,Fear_1_6,Fear_1_7,Fear_1_8
0,PREDWELL_RETOS-1001-1,4,1,1,1,1,1,4,4,4,...,3,4,1,3,2,3,4,3,3,4
1,PREDWELL_RETOS-1002-1,1,1,3,1,1,1,3,4,4,...,1,3,1,3,4,3,4,2,3,4
2,PREDWELL_RETOS-1003-1,1,1,1,1,1,1,3,3,4,...,2,2,2,3,2,2,2,1,3,3
3,PREDWELL_RETOS-1004-1,1,1,3,3,2,1,1,4,2,...,2,2,4,3,1,3,3,2,1,3
4,PREDWELL_RETOS-1005-1,1,1,1,1,2,1,4,3,4,...,1,2,2,2,3,3,3,4,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,PREDWELL_RETOS-5-1,2,2,1,1,1,1,3,4,4,...,1,1,1,4,2,4,3,3,2,2
145,PREDWELL_RETOS-6-1,1,2,1,1,1,1,3,3,4,...,1,2,2,2,4,2,3,2,4,4
146,PREDWELL_RETOS-7-1,1,1,1,1,1,1,3,4,2,...,4,4,1,2,4,4,1,4,4,1
147,PREDWELL_RETOS-8-1,1,1,1,1,1,1,4,4,1,...,3,3,3,4,3,2,4,2,1,3
148,PREDWELL_RETOS-9-1,1,1,1,1,1,1,2,4,3,...,2,1,2,1,4,1,2,2,3,2

In [40]:
RETOS_BEBRASK_Rating_Time_Series.to_excel('../Clustering_Predictive_Processing/RETOS_BEBRASK_Rating_Time_Series.xlsx', index=False) 
RETOS_BEBRASK_Rating_Time_Series.head(5)

,Subject ID,Happy_0_0,Happy_0_1,Happy_0_2,Happy_0_3,Happy_0_4,Happy_0_5,Happy_1_0,Happy_1_1,Happy_1_2,...,Fear_0_5,Fear_1_0,Fear_1_1,Fear_1_2,Fear_1_3,Fear_1_4,Fear_1_5,Fear_1_6,Fear_1_7,Fear_1_8
0,PREDWELL_RETOS-1001-1,4,2,1,2,3,3,4,4,3,...,2,2,2,3,2,2,3,2,3,3
1,PREDWELL_RETOS-1002-1,3,3,2,3,2,2,3,4,4,...,1,3,2,4,3,3,2,2,3,3
2,PREDWELL_RETOS-1003-1,2,2,4,4,2,3,2,3,2,...,3,2,3,3,3,1,3,4,3,4
3,PREDWELL_RETOS-1004-1,2,2,3,2,2,1,2,3,2,...,3,3,3,2,4,3,2,2,2,2
4,PREDWELL_RETOS-1005-1,2,3,3,2,2,2,3,3,4,...,3,2,3,2,3,2,2,2,2,2

## BEBRASK & RETOS Time Series Moving Average By Emotion and Match

In [41]:
def compute_moving_averages_no_edges(subject_dict,rating):
    """
    It processes a dictionary with the information of the answers given by each subject organized by sentiment, and creates a dataframe where the Moving Average of the trials is stored.
    a dataframe where the Moving Average of the trials is stored, organized sequentially according to the emotion and whether it is a match or not. 
    emotion and whether it is a match or not. A 3 point Moving Average is calculated (an average of the first three points is made, 
    then one from the second to the fourth point and so on).
    
    Parameters:
    - subject_dict (dict): Dictionary containing the information of the scores organized by subjects and by emotions.
    - rating (string): Rating from which to make the aggregations of the scores (Rating0 or Rating).
    
    Returns:
    - df_counts (pandas.DataFrame): A dataframe where each row contains the subject's identifier and a time series corresponding to its answers.
    corresponding to its answers
    """
    results = {}
    for instance, categories in subject_dict.items():
        results[instance] = {}
        for category, info in categories.items():
            pred = info[rating]
            fulfill = info['Fulfill']
            fulfill_0_positions = np.where(fulfill == 0)[0]
            fulfill_1_positions = np.where(fulfill == 1)[0]

            # Calculate moving averages for fulfill 0 excluding edges
            ma_fulfill_0 = []
            for i,pos in enumerate(fulfill_0_positions):
                if i == 0 or i == len(fulfill_0_positions) - 1:
                    continue  # Skip first and last positions
                relevant_preds = [pred[fulfill_0_positions[i-1]],pred[fulfill_0_positions[i]],pred[fulfill_0_positions[i+1]]]
                ma_fulfill_0.append(np.mean(relevant_preds))

            # Calculate moving averages for fulfill 1 excluding edges
            ma_fulfill_1 = []
            for i,pos in enumerate(fulfill_1_positions):
                if i == 0 or i == len(fulfill_1_positions) - 1:
                    continue  # Skip first and last positions
                relevant_preds = [pred[fulfill_1_positions[i-1]],pred[fulfill_1_positions[i]],pred[fulfill_1_positions[i+1]]]
                ma_fulfill_1.append(np.mean(relevant_preds))

            results[instance][category] = {
                'Fulfill_0_MA': ma_fulfill_0,
                'Fulfill_1_MA': ma_fulfill_1
            }
            
    records = []
    for subject_id, emotions in results.items():
        record = {'Subject ID': subject_id}
        for emotion, stats in emotions.items():
            for stat_key, stat_value in stats.items():
                for i,val in enumerate(stat_value):
                # Creating new column names in the format "Emotion_Match_AppearanceOrder"
                    column_name = f"{emotion}_{stat_key[8]}_MA_{i}"
                    record[column_name] = val
        records.append(record)

    return pd.DataFrame(records)

In [42]:
RETOS_BEBRASK_Rating0_Time_MA_Series = compute_moving_averages_no_edges(merged_dict, "Rating0")
RETOS_BEBRASK_Rating_Time_MA_Series = compute_moving_averages_no_edges(merged_dict, "Rating")

In [43]:
RETOS_BEBRASK_Rating0_Time_MA_Series.to_excel('../Clustering_Predictive_Processing/RETOS_BEBRASK_Rating0_Time_MA_Series.xlsx', index=False) 
RETOS_BEBRASK_Rating0_Time_MA_Series.head(5)

,Subject ID,Happy_0_MA_0,Happy_0_MA_1,Happy_0_MA_2,Happy_0_MA_3,Happy_1_MA_0,Happy_1_MA_1,Happy_1_MA_2,Happy_1_MA_3,Happy_1_MA_4,...,Fear_0_MA_1,Fear_0_MA_2,Fear_0_MA_3,Fear_1_MA_0,Fear_1_MA_1,Fear_1_MA_2,Fear_1_MA_3,Fear_1_MA_4,Fear_1_MA_5,Fear_1_MA_6
0,PREDWELL_RETOS-1001-1,2.000000,1.000000,1.000000,1.000000,4.000000,4.000000,3.666667,3.666667,3.666667,...,1.666667,1.000000,1.666667,2.666667,2.000000,2.666667,3.000000,3.333333,3.333333,3.333333
1,PREDWELL_RETOS-1002-1,1.666667,1.666667,1.666667,1.000000,3.666667,4.000000,4.000000,4.000000,3.666667,...,3.000000,2.333333,1.666667,2.333333,2.666667,3.333333,3.666667,3.000000,3.000000,3.000000
2,PREDWELL_RETOS-1003-1,1.000000,1.000000,1.000000,1.000000,3.333333,3.666667,3.666667,3.333333,3.000000,...,1.333333,1.666667,2.000000,2.333333,2.333333,2.333333,2.000000,1.666667,2.000000,2.333333
3,PREDWELL_RETOS-1004-1,1.666667,2.333333,2.666667,2.000000,2.333333,2.333333,1.333333,1.666667,2.333333,...,1.333333,2.333333,2.333333,3.000000,2.666667,2.333333,2.333333,2.666667,2.000000,2.000000
4,PREDWELL_RETOS-1005-1,1.000000,1.000000,1.333333,1.333333,3.666667,3.333333,3.666667,3.333333,3.666667,...,2.333333,3.000000,2.000000,2.000000,2.333333,2.666667,3.000000,3.333333,3.333333,3.333333

In [44]:
RETOS_BEBRASK_Rating_Time_MA_Series.to_excel('../Clustering_Predictive_Processing/RETOS_BEBRASK_Rating_Time_MA_Series.xlsx', index=False) 
RETOS_BEBRASK_Rating_Time_MA_Series.head(5)

,Subject ID,Happy_0_MA_0,Happy_0_MA_1,Happy_0_MA_2,Happy_0_MA_3,Happy_1_MA_0,Happy_1_MA_1,Happy_1_MA_2,Happy_1_MA_3,Happy_1_MA_4,...,Fear_0_MA_1,Fear_0_MA_2,Fear_0_MA_3,Fear_1_MA_0,Fear_1_MA_1,Fear_1_MA_2,Fear_1_MA_3,Fear_1_MA_4,Fear_1_MA_5,Fear_1_MA_6
0,PREDWELL_RETOS-1001-1,2.333333,1.666667,2.000000,2.666667,3.666667,3.333333,3.000000,3.333333,3.333333,...,2.333333,2.000000,1.666667,2.333333,2.333333,2.333333,2.333333,2.333333,2.666667,2.666667
1,PREDWELL_RETOS-1002-1,2.666667,2.666667,2.333333,2.333333,3.666667,4.000000,4.000000,4.000000,4.000000,...,3.333333,3.000000,2.333333,3.000000,3.000000,3.333333,2.666667,2.333333,2.333333,2.666667
2,PREDWELL_RETOS-1003-1,2.666667,3.333333,3.333333,3.000000,2.333333,3.000000,3.333333,3.666667,3.333333,...,2.333333,2.666667,3.333333,2.666667,3.000000,2.333333,2.333333,2.666667,3.333333,3.666667
3,PREDWELL_RETOS-1004-1,2.333333,2.333333,2.333333,1.666667,2.333333,2.666667,2.000000,2.666667,2.666667,...,1.333333,2.000000,2.333333,2.666667,3.000000,3.000000,3.000000,2.333333,2.000000,2.000000
4,PREDWELL_RETOS-1005-1,2.666667,2.666667,2.333333,2.000000,3.333333,3.333333,3.666667,3.333333,3.666667,...,2.666667,2.666667,3.000000,2.333333,2.666667,2.333333,2.333333,2.000000,2.000000,2.000000

## Average Prediction, Match Difference & Correlation between Rating0 and Rating Dataset

#### Correlation

In [45]:
pred_data = RETOS_BEBRASK_Rating0_Time_Series.sort_values(by='Subject ID').reset_index(drop=True)

# Sort the second dataset
like_data = RETOS_BEBRASK_Rating_Time_Series.sort_values(by='Subject ID').reset_index(drop=True)

correlation_coefficients = []

# Iterate over each row pair
for index, row_df1 in pred_data.drop("Subject ID",axis=1).iterrows():
    row_df2 = like_data.drop("Subject ID",axis=1).loc[index]  # Get corresponding row from df2
    correlation = row_df1.corr(row_df2)  # Compute correlation
    correlation_coefficients.append(correlation)

# Convert the list to a pandas Series
correlation_series = pd.Series(correlation_coefficients)

#### Difference

In [46]:
total_dif = pred_data[['Happy_1_0', 'Happy_1_1', 'Happy_1_2', 'Happy_1_3', 'Happy_1_4', 'Happy_1_5', 'Happy_1_6', 'Happy_1_7', 'Happy_1_8','Sad_1_0', 'Sad_1_1', 'Sad_1_2', 'Sad_1_3', 'Sad_1_4', 'Sad_1_5', 'Sad_1_6', 'Sad_1_7', 'Sad_1_8','Fear_1_0', 'Fear_1_1', 'Fear_1_2', 'Fear_1_3', 'Fear_1_4', 'Fear_1_5', 'Fear_1_6', 'Fear_1_7', 'Fear_1_8']].mean(axis=1) - pred_data[['Happy_0_0', 'Happy_0_1', 'Happy_0_2', 'Happy_0_3', 'Happy_0_4', 'Happy_0_5','Sad_0_1', 'Sad_0_2', 'Sad_0_3', 'Sad_0_4', 'Sad_0_5','Fear_0_0', 'Fear_0_1', 'Fear_0_2', 'Fear_0_3', 'Fear_0_4', 'Fear_0_5']].mean(axis=1)

#### Mean

In [47]:
mean_subject = pred_data.drop("Subject ID",axis=1).mean(axis=1)

#### Creating the Dataset

In [48]:
baseline = pd.concat([pred_data["Subject ID"], mean_subject, total_dif,correlation_series],axis=1)
baseline.columns = ['Subject','Mean_Rating0','Dif_Match', 'Cor_Pred_Like']

In [49]:
baseline.to_excel('../Clustering_Predictive_Processing/RETOS_BEBRASK_Baseline.xlsx', index=False) 
baseline.head(5)

                 Subject  Mean_Rating0  Dif_Match  Cor_Pred_Like
0     PREDWELL_RETOS-1-1      2.888889   1.614379       0.113495
1    PREDWELL_RETOS-10-1      2.533333   1.117647       0.214781
2  PREDWELL_RETOS-1001-1      2.644444   1.494553       0.336312
3  PREDWELL_RETOS-1002-1      2.711111   1.318083       0.450822
4  PREDWELL_RETOS-1003-1      2.200000   1.424837       0.073526

In [50]:
#TODO: Trials dataset, breaking the time order